* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--pri);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
:root {
  --pri: #0f172a;
  --sec: #101319;
  --tri1: rgb(141, 201, 229);
  --tri2: #1a1f2a;
}

.main{
  width: 100%;
  height: 100%;
}

/* For Navbar */

.navbar{
  width: 100%;
  height: 70px;
  background-color: var(--sec);
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
  align-items: center;
}
.logo{
  padding-left: 20px;
  font-size: 25px;
}
.nav-content{
  display: flex;
  gap: 25px;
  font-size: 23px;
}
.nav-content i{
  cursor: pointer;
  /* pointer-events: auto; */
}

.theme{
  padding-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

/* hero */

.hero{
  height: 630px;
  display: flex;
  width: 100%;
}

.layers{
  background-color: var(--sec);
  width: 200px;
}
.layers h2{
  height: 60px;
  border: 1px solid gray;
  font-size: 17px;
  padding-left: 20px;
  padding-top: 17px;
}
/* For Rectangle */
.shape-tools {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tool {
  cursor: pointer;
  color: rgb(141, 201, 229);
}

#board{
  background-color: var(--tri2);
  width: 1100px;
  border: 2px dashed #ccc;
  cursor: crosshair;  
}
.tools-area{
  background-color: var(--sec);
  width: 260px;
  display: flex;
  flex-direction: column;
  color: var(--tri1);
}
.info{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
  padding-top: 10px;
  border: 1px solid gray;
  padding-bottom: 10px;
  height: 70px;
  color: var(--tri1);
}
.info h4{
  font-size: 12px;
  font-weight: lighter;
  color: var(--tri1);
}

/* Height and Widht Changeable */
.size-panel {
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid gray;
  padding: 30px;
  padding-left: 20px;
  color: var(--tri1);
  font-family: sans-serif;
  gap: 20px;
  font-size: small;
}

.row {
  display: flex;
  align-items: center;
  gap: 30px;
}

input {
  width: 150px;
  background: transparent;
  border: none;
  color: var(--tri1);
  outline: none;
}

/* For Text Content */
.text-panel {
  width: 260px;
  padding: 12px;
  border: 1px solid gray;
}

.label {
  font-size: 12px;
  margin-bottom: 6px;
  color: var(--tri1);
}

select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: transparent;
  border: 1px solid #334155;
  color: var(--tri1);
  outline: none;
}

#text {
  margin-top: 30px;
  font-size: 30px;
}
option{
  background:var(--sec);
}

/* For Colors */

.color-panel {
  width: 260px;
  padding: 12px;
  border: 1px solid gray;
  padding-bottom: 25px;
  padding-top: 25px;
}

.label1 {
  font-size: 12px;
  margin-bottom: 6px;
  color: var(--tri1);
}

.color-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="color"] {
  width: 40px;
  height: 32px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

input[type="text"] {
  flex: 1;
  background: transparent;
  border: 1px solid #334155;
  color: var(--tri1);
  padding: 8px;
  outline: none;
}

.export{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  border: 1px solid gray;
  height: 100px;
}
.export .pdf{
  font-size: 12px;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;

}
.pdf.active{
  transform: scale(0.95);
}

.png{
  font-size: 12px;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
}

.popup {
  display: none;
  color: #3b82f6;
  position: absolute;
  left: 150;
  transition: all 0.6s ease;
}


/* Popup Content */
.popup-content {
  transition: all 0.6s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(19, 19, 19);
  width: 100px;
  color: white;
  padding: 10px;
  margin: 200px auto;
  border-radius: 10px;
  text-align: center;
  gap: 15px;
  font-size: 25px;
  cursor: pointer;
}

.popup.active {
  display: block;
  transition: all 0.6s ease;
}

.tool {
  font-size: 24px;
  cursor: pointer;
  margin: 6px;
}

.tool.active {
  color: #2196f3;
}

